body {
    background: linear-gradient(to bottom, #dfdfdf, #b4c7db, #aeb7df);
    color: black;
}

main {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-bottom: 50px;
}

header {
    padding: 20px;
}

.hero-horizontal-sub {
    min-width: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-screenshot {
    min-width: 500px;
    max-width: 700px;
    width: 100%;
}

.hero-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 50px;
    align-items: center;
    padding-top: 20px;
    font-size: medium !important;
}

.hero-separator {
    padding-top: 120px !important;
}

.macbook {
    width: 100% !important;
    max-width: 1100px !important;
}

.xcode {
    max-width: 900px !important;
    width: 100% !important;
}

header {
    background-color: #ffffff00;
}

h1 {
    font-size: 300%;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.card {
    width: 90%;
    max-width: 900px;
}

@media only screen {
    .hero-horizontal {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(to bottom, #111111, #4b535b, #5c6177);
        color: white;
    }
}